In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame([
    [1, 2, -3, 4],
    [4, 5, 6, 7],
    [8, 9, 10, -11]
])
df

   0  1   2   3
0  1  2  -3   4
1  4  5   6   7
2  8  9  10 -11

# apply是針對整欄

In [8]:
def mydiff(x):
    return x.max() - x.min()
df.apply(mydiff)

0     7
1     7
2    13
3    18
dtype: int64

In [9]:
df.apply(max)

0     8
1     9
2    10
3     7
dtype: int64

In [10]:
df.max()

0     8
1     9
2    10
3     7
dtype: int64

In [12]:
df.apply(max,axis=1)

0     4
1     7
2    10
dtype: int64

# applymap是針對所有值

In [6]:
df.applymap(lambda x: x>0)

      0     1      2      3
0  True  True  False   True
1  True  True   True   True
2  True  True   True  False

In [7]:
df.applymap(lambda x: x-3)

   0  1  2   3
0 -2 -1 -6   1
1  1  2  3   4
2  5  6  7 -14

In [11]:
df.applymap(lambda x: x-3)

   0  1  2   3
0 -2 -1 -6   1
1  1  2  3   4
2  5  6  7 -14